body {
    min-height: 100%;
}

/* TEST BODY TEXT CONTAINER */
#ADA-TESTTXT {
    width: 80%;
    margin: 1em auto;
}
#ADA-TESTTXT > p {
    font-size: larger;
}

#ADA-CONTAINER {
    display: none;
    position: fixed;
    bottom: -576px;
    right: 0;
    width: 40%;
    min-width: 400px;
    height: 624px;
    background-color: gray;
    -webkit-transition: bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: bottom 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-box-shadow: 0px 9px 28px 1px rgba(0,0,0,0.34);
    box-shadow: 0px 9px 28px 1px rgba(0,0,0,0.34);
}
#ADA-CONTAINER.OPEN {
    bottom: -40px;
}

@media(min-width:768px){
    #ADA-CONTAINER {
        display: block;
    }
}

#ADA-HEADER {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    cursor: pointer;
    top: 0;
    width: 100%;
    background-color: chocolate;
    padding: 20px 12px 24px;
    height: 48px;
    color: white;
}
#ADA-HEADER H4 {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
}
#ADA-HEADER H4 .fas {
      padding-right: 12px;
}
#ADA-DIRECTIONARR {
    padding-left: 12px;
    font-size: 24px;
}

#ADA-CONTENT-WRAPPER {
    position: relative;
    overflow: hidden;
    top: 48px;
    width: 100%;
    height: calc(100% - 48px);
    background-color: gainsboro;
}
#ADA-CONTENT {
    width: 100%!important;
    position: absolute;
    overflow-y: scroll;
    width: calc(100% + 17px);
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
}

#ADA-FORM {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: 0;
    z-index: 100;
    background-color: lightsteelblue;
    background-color: rgb(176, 196, 222, 0.9);
}
.form-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px;
}
.input-group {
    padding-right: 12px;
    width: 80%;
}
#ASKADA {
    width: 20%;
    background-color: chocolate;
    color: white;
}
#ASKADA:hover {
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
}

#ADA-Q-CONTAINER {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 12px;
    border-radius: 6px;
    background-color: rgb(176, 196, 222, 0.9);
}
#ADA-Q-TXT {
    padding: 10px;
    width: 100%;
}

.ADA-BUBBLE {
    opacity: 0;
    background-color: white;
    height: auto;
    margin: 12px;
    padding: 10px;
    border-radius: 6px;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.ADA-BUBBLE table {
    font-size: smaller;
}

.ADA-EXAMPLES {
    margin: 12px 12px 112px 12px;
    padding: 0 10px;
}
.ADA-EXAMPLES li {
    opacity: 0;
    padding: 4px 0;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.ADA-EXAMPLES li .fas, .ADA-EXAMPLES li .far {
    padding-right: 12px;
}

/* Animations */

/* Fade in */
.ADA-BUBBLE.SHOW, .ADA-EXAMPLES li.SHOW  {
    opacity: 1;
}

/* Loading Spinner */
.spinner {
    display: none;
    width: 70px;
    margin: auto 0;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: #FFF;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* OVERRIDES FOR HTML IN WATSON CONVERSATION */
#ADA-CONTENT p:last-child {
    margin: 0;
}
/* wrapper for correct size/aspect ratio */
#ADA-CONTENT .video-container {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    margin-bottom: 1em;
}
/* video iframe */
#ADA-CONTENT .video-container iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


