
/* enable absolute positioning */
.inner-addon{ 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon{
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

span.message{
	display:none;
}

/*Results div spacing from the top*/
#results {
    margin-top: 30px;
}

.autocomplete_results{
	/*border:2px solid black;*/
	margin-top:50px;
}

.thirtyFromTop{
	margin-top:30px;
}

#exempt_details,
#reduced_details
{
	display:none;
}

/** /workexperience/CRM/learner.php This for the card on the form for 
adding a placement instance */

  .card,#support,#exempt{
  	display:none;
  }

  .card-body {
      background-color: #f9f984;
      border: 1px solid red;
      border-radius: 12px;
      padding: 12px;
      margin: 10px 0;
      box-shadow: 1px 0px 3px #000;
      color:#000000;
  }

  .card-body h5,
  p.support-text{
  	border:0px;
  	padding:0px;
  	color:red;
  	font-weight:bold;
  }

  .text-muted {
      color: #000;
  }

/** End /workexperience/CRM/learner.php This for the card on the form for 
adding a placement instance */

button#new_day,
button#sick_day{
  width:10px;
}

.multidate{
  display:none;
}

.multidate {
    margin: 20px 0;
}








