/*CSS for the work experience app*/

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

/*Get rid of the backgroud color on a disabled form element*/
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: #ffffff;
  opacity: 1;
}

/* Desktop view */
@media (min-width: 767px) {
    #test{display:block;}
    .nav navbar-nav{display:none;}

    .navbar-nav {
    float: left;
    margin: 0;
    display:none;
	}

  .card_outer {
    border: 0px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 2px 5px #4e4d4d;
    margin: 10px 0;
    }
}
/* End desktop view */

/* Mobile view */
@media (max-width: 767px) {
  
  #test{display:none;}

  .card_outer:hover{
  -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
    transform:none;
  }
  .card_outer{
    margin-top:20px;
  }
}
/* End mobile view */


/*Get the add a day and sick day buttons to all be the same size.*/
button#new_day,
button#sick_day{
  width:150px;
}

img.card_image{
  width:100%;
  border:0px;
}

.jumbotron_splash_results{
  display:none;
  margin: 20px 0 0 10px;
  background-color: #fff;
  padding: 5px 25px 20px 30px;
  /* padding-left: 15px; */
  border-radius: 6px;
  box-shadow: 3px 3px 3px;
  opacity: 0.8;
}

.card_outer {
  border: 0px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #4e4d4d;
}

.card_outer:hover{
  -webkit-filter: brightness(1.1); /* Safari 6.0 - 9.0 */
    filter: brightness(1.1);
    /*transform: rotate(5deg);*/
}

.ADA-form-group {
    margin: 20px 0;
}

/* The midpoint review section styles */
.midpoint_review_form{
  display:none;
}

#success_message{
  display:none;
}

#error_message{
  display:none;
}

#update_message{
  display:none;
}

#work_ready{
  display:none;
}
/* End the midpoint review section styles */

.highlight{
  background:yellow;
  color:red;
  padding:10px;
  border:2px solid red;
}


